/* mobile */
@media (max-width: 480px) {
  /* nav */
  .nav__toggle-btn {
    display: block;
  }
  .nav__menu {
    position: fixed;
    width: 40%;
    height: 100%;
    display: none;
  }
  .nav__menu > li {
    float: none;
  }
  .nav__menu > li > a {
    padding: 1em 2em;
  }
  .nav__menu.open {
    display: block;
  }
  .wrap {
    height: 150vh;
  }
  #header > .container {
    width: 90%;
    height: max-content;
  }
  .title_photo,
  .home-title {
    width: 100%;
    float: none;
  }
}
