:root {
  --text-purple: #9d5cbb;
  --text-gray: #71787d;
  --text-navy: #02253b;
  --purple: #9885d7;
}
html {
  scroll-behavior: smooth;
}
body {
  min-width: 1200px;
  font-family: "NEXON Lv2 Gothic", sans-serif;
  color: var(--text-navy);
  list-style: none;
  background: rgb(219, 233, 246);
  background: linear-gradient(
    180deg,
    rgba(219, 233, 246, 1) 15%,
    rgba(254, 252, 201, 1) 44%,
    rgba(247, 208, 213, 1) 100%
  );
}
.scroll_hidden {
  overflow-y: hidden;
}
/* nav */
#nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: 0.5s;
}
.nav__defalut {
  height: 7rem;
  padding: 1rem 0;
}
.nav_fixed {
  height: 5rem;
  padding: 0;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 13px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#nav > .container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
#nav > .container::after {
  content: "";
  display: block;
  clear: both;
}
.nav__logo {
  box-sizing: content-box;
  width: 6.25rem;
  height: 5rem;
  float: left;
}
.logo_link {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.781rem 0;
}

.nav__menu {
  float: right;
  height: 5rem;
  padding-top: 1.25rem;
}

.nav__menu > li {
  float: left;
  width: 20%;
  height: 100%;
  vertical-align: baseline;
}
.nav__menu > li > a {
  display: block;
  font-family: "NEXON Lv2 Gothic Bold";
  color: var(--text-gray);
  text-decoration: none;
  text-align: center;
  font-size: 1.25em;
  margin: 0 1em;
  line-height: 2em;
}
.nav__menu > li:last-child > a {
  margin-right: 0;
}
.nav__menu > li > a.current-menu {
  color: var(--text-purple);
}
.marker {
  content: "";
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: var(--text-purple);
  transition: 0.5s;
}
/* nav - toggle btn */
.nav__toggle-btn {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  display: none;
}

/* wrap */
.wrap-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
#header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 20rem;
  padding-top: 100px;
}
#header > .container {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-title {
  width: 47%;
  height: 330px;
  float: left;
}
.main-title {
  font-family: "SBAggroB";
  font-size: 100px;
  letter-spacing: 0.025em;
  line-height: 1.1;
}
.title__first::first-letter {
  font-size: 136px;
}
.title__first {
  background: rgb(151, 89, 187);
  background: linear-gradient(
    -154deg,
    rgba(151, 89, 187, 1) 20%,
    rgba(252, 166, 198, 1) 60%,
    rgba(246, 175, 151, 1) 80%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.title__second {
  background: rgb(246, 175, 151);
  background: linear-gradient(
    -155deg,
    rgba(246, 175, 151, 1) 25%,
    rgba(252, 166, 198, 1) 51%,
    rgba(151, 89, 187, 1) 70%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.sub-title {
  font-family: "SBAggroL";
  line-height: 5em;
  font-size: 24px;
  color: var(--text-purple);
  margin-left: 1em;
}
.title_photo {
  float: right;
}

/* button */
.btn_go-to-work {
  width: 237px;
  height: 68px;
  border-radius: 30px;
  margin-top: 80px;
  border: none;
  cursor: pointer;
  background: rgb(159, 139, 224);
  background-image: linear-gradient(
    to right,
    rgba(159, 139, 224, 1) 0%,
    rgba(250, 174, 202, 1) 60%,
    rgba(254, 208, 193, 1) 90%
  );
  box-shadow: 0 4px 15px 0 rgba(159, 139, 224, 0.75);
  transition: all 0.4s ease-in-out;
  background-size: 200% 100%;
}
.btn_go-to-work > span {
  line-height: 68px;
  font-family: "NEXON Lv2 Gothic";
  color: white;
  letter-spacing: 0.05em;
  font-size: 24px;
  text-shadow: rgba(0, 0, 0, 0.24) 1px 0 10px;
  transition: all 0.4s ease-in-out;
}
.btn_hover:hover > span {
  text-shadow: rgba(0, 0, 0, 0.4) 1px 0 10px;
}

/* button animation */
.btn_hover:hover {
  background-position: 100% 0;
}
.btn_go-to-work:hover {
  transform: translateY(-7%);
  box-shadow: 0 10px 20px 0 rgba(250, 174, 202, 0.5);
}
/* main */
#main {
  width: 100%;
  overflow: hidden;
}
.category-section {
  box-sizing: content-box;
  padding-top: 100px;
  width: 100%;
  height: max-content;
  padding-bottom: 90px;
}
.category-title {
  position: relative;
  text-align: center;
  font-family: "SBAggroB";
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  line-height: 1.6;
  margin-bottom: 54px;
}
.category-title::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 34px;
  height: 4px;
  background-color: var(--purple);
}
.box-component {
  width: 1180px;
  margin: 0 10px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgb(255, 255, 255);
}
/* profile */
.box_profile {
  height: 700px;
  overflow: hidden;
}
.box_profile::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgb(255, 255, 255, 0.5),
    transparent
  );
  transition: 0.5s;
}
.box_profile:hover::before {
  left: 100%;
}
.box_profile__row {
  height: 100%;
  float: left;
  padding: 42px 16px;
}
.box_profile__row:first-child {
  width: 40%;
}
.box_profile__row:last-child {
  width: 60%;
}
.bg-color {
  background: midnightblue;
}
.profile__photo {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 23px auto;
  background-color: var(--purple);
  box-shadow: rgb(152, 133, 215, 0.5) 0px 7px 29px 0px;
  background: var(--purple);
  overflow: hidden;
}
.profile__photo > img {
  width: 100%;
  opacity: 0.5;
  transition: 0.5s;
}
.profile__photo:hover img {
  opacity: 1;
}
.profile__headline {
  width: 320px;
  height: 170px;
  margin: 62px auto;
}
.greeting {
  font-family: "NEXON Lv2 Gothic Bold";
  color: var(--text-purple);
  font-size: 3em;
  line-height: 1.2em;
  opacity: 0;
}
.profile__introduction {
  margin-top: 23px;
  float: left;
  width: 380px;
  height: 300px;
  padding: 3em 0;
  line-height: 1.4;
  opacity: 0;
}
.profile__introduction > span {
  display: block;
  font-weight: 600;
  font-size: 18px;
}
.profile__introduction > span::selection {
  background: var(--purple);
  color: white;
}
.profile__info {
  float: right;
  width: 200px;
  height: 300px;
  margin-top: 23px;
  padding-top: 3em;
  margin-right: 30px;
}
.profile__info > p {
  display: block;
  line-height: 1.3;
}
.profile__info > p:not(:first-child) {
  margin-top: 1.2em;
}
.profile__info > p > span {
  display: block;
  font-size: 20px;
  font-weight: 600;
}
.profile__skill {
  width: 470px;
  height: 220px;
  margin-top: 16px;
  float: right;
}
.profile__skill > h3 {
  position: relative;
  width: max-content;
  font-family: "SBAggroB";
  font-size: 18px;
  color: var(--text-navy);
  line-height: 1.2;
}
.profile__skill > h3::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--purple);
}
.profile__skill-icon::after {
  display: block;
  content: "";
  clear: both;
}
.profile__skill-icon > li {
  float: left;
  margin-right: 48px;
  margin-top: 26px;
}
.profile__skill-icon > li > img:hover {
  transition: 0.2s;
  transform: translateY(-5%);
}
.profile__skill-icon > li:nth-child(9) > img {
  width: 55px;
  height: 55px;
}

.profile__skill-icon > li:first-child > img:hover {
  filter: drop-shadow(4px 8px 10px rgba(255, 138, 88, 0.7));
}
.profile__skill-icon > li:nth-child(2) > img:hover {
  filter: drop-shadow(4px 8px 10px rgba(83, 178, 255, 0.7));
}
.profile__skill-icon > li:nth-child(3) > img:hover {
  filter: drop-shadow(4px 8px 10px rgb(247, 223, 30, 0.7));
}
.profile__skill-icon > li:nth-child(4) > img:hover {
  filter: drop-shadow(4px 8px 10px rgba(86, 139, 173, 0.5));
}
.profile__skill-icon > li:nth-child(5) > img:hover {
  filter: drop-shadow(4px 8px 10px rgba(86, 140, 174, 0.7));
}
.profile__skill-icon > li:nth-child(6) > img:hover {
  filter: drop-shadow(4px 8px 10px rgba(182, 8, 8, 0.5));
}
.profile__skill-icon > li:nth-child(7) > img:hover {
  filter: drop-shadow(4px 8px 10px rgba(43, 149, 151, 0.5));
}
.profile__skill-icon > li:nth-child(8) > img:hover {
  filter: drop-shadow(4px 8px 10px rgba(70, 3, 3, 0.7));
}
.profile__skill-icon > li:nth-child(9) > img:hover {
  filter: drop-shadow(4px 8px 10px rgba(255, 188, 233, 0.7));
}

/* work */
.box_work {
  transform: translateX(50%);
  height: 350px;
  opacity: 0;
}
.box_work:first-child {
  margin-top: 54px;
}
.box_work:not(:last-child) {
  margin-bottom: 72px;
}
.box_work__row {
  height: 100%;
  float: left;
  padding: 53px 0;
}
.box_work__row:first-child {
  width: 42%;
}

.box_work__row:last-child {
  width: 58%;
  position: relative;
}
.work__thumbnail {
  display: block;
  position: relative;
  border-radius: 10px;
  width: 400px;
  height: 250px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  overflow: hidden;
}

.work__thumbnail:hover .work__img_caption {
  opacity: 1;
}
.work__img_caption {
  position: absolute;
  background-color: rgba(2, 37, 59, 0.95);
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  transition: 0.3s;
  vertical-align: middle;
}
.work__img_caption > .caption {
  display: inline-block;
  font-size: 1.1em;
  height: 1.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work__img_caption > .material-icons {
  font-size: 0.8em;
}
.icon_window {
  background: no-repeat url("../img/new-window.png");
  background-size: 1em;
  width: 1.1em;
  height: 1.1em;
  color: transparent;
}
.work__thumbnail_img {
  width: 100%;
  height: 100%;
}
.work__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work__introduction {
  width: 480px;
  margin: 0 auto;
}
.work__introduction > h3 {
  font-family: "NEXON Lv2 Gothic Bold";
  font-size: 1.875em;
}
.work__introduction > ul {
  margin: 1.2em 0;
  font-weight: bold;
  line-height: 1.5;
}
.work__btn-view {
  width: 100px;
  height: 34px;
  border-radius: 16px;
  border: none;
  margin: 0.9em auto;
  background: rgb(151, 89, 187);
  background-image: linear-gradient(
    to right,
    rgba(246, 175, 151, 1),
    rgba(252, 166, 198, 1),
    rgba(151, 89, 187, 1) 70%
  );
  background-size: 200% 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(252, 166, 198, 0.6) 3px 10px 20px 0px;
  /* 텍스트 */
  font-family: "NEXON Lv2 Gothic Bold";
  color: white;
  font-size: 17px;
  letter-spacing: 0.1em;
  text-shadow: rgba(0, 0, 0, 0.24) 1px 0 10px;
}
.work__btn-view:hover {
  box-shadow: rgba(206, 121, 255, 0.5) 3px 10px 20px 0px;
}

/* gallery */
.box_gallery {
  width: 1200px;
  padding: 0 110px;
}
.box_gallery_row::after {
  content: "";
  display: block;
  clear: both;
}
.gallery__thumbnail {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
  border-radius: 1em;
  background-color: white;
  margin-top: 65px;
}
.gallery__thumbnail > a > img {
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 30px 80px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.gallery__thumbnail:not(:first-child, :nth-child(4)) {
  margin-left: 30px;
}
.gallery__thumbnail:hover > a > img {
  opacity: 0.15;
}
.gallery__thumbnail:hover .gallery__thumbnail_content {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.gallery__thumbnail_content {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transition: 0.2s;
  transform: translate(-50%, 50%);
}
.gallery__thumbnail_content > h3 {
  font-family: "NEXON Lv2 Gothic Bold";
  font-size: 1.3em;
  line-height: 2;
  margin-bottom: 0.2em;
}
.gallery__thumbnail_content > ul > li {
  line-height: 1.4;
}
/* contact */
.wrap__contact {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#contact {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.choco-img {
  position: absolute;
  left: -100px;
  top: 50%;
  transform: translate(-200%, -50%);
  width: 200px;
  height: 404px;
  z-index: 9;
  opacity: 0;
}

.box_contact {
  position: relative;
  margin: 10px;
  height: 666px;
  padding: 40px 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.box_contact > .category-title {
  opacity: 0;
}
.contact__address {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  text-align: center;
  opacity: 0;
}
.icon__mail {
  display: block;
  margin: 0 auto;
}
.email {
  display: block;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  padding: 1.6em 0;
}
.sns__container {
  margin-top: 3em;
}
.sns__container::after {
  display: block;
  content: "";
  clear: both;
}
.sns__column:first-child {
  float: left;
}
.sns__column:last-child {
  float: right;
}
.address__subtitle {
  display: block;
  font-family: "NEXON Lv2 Gothic Bold";
  color: var(--purple);
  font-size: 24px;
  margin-bottom: 1em;
}
.wrap__contact::before {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  bottom: -80%;
  transform: translateX(-50%);
  width: 110%;
  height: 140%;
  border-radius: 50%;
  background-color: var(--purple);
  box-shadow: rgba(53, 53, 112, 0.2) 0px 30px 60px -12px inset;
  z-index: 0;
}
/* footer */
#footer {
  width: 100%;
  height: 12rem;
  background-color: var(--purple);
  text-align: center;
}
#footer > p {
  margin-top: 1.3em;
  display: block;
  color: white;
  line-height: 1.5;
  font-size: 0.9em;
}

/* 오버레이 */

#overlay {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
#overlay > .container {
  width: 60em;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
#slide {
  position: absolute;
  width: 600%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#slide::after {
  content: "";
  display: block;
  clear: both;
}
#slide > li {
  float: left;
}
.gallery__big_photo {
  width: 60em;
}

.btn {
  padding: 4em;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
  color: var(--text-purple);
  background: transparent;
  transition: 0.3s;
  opacity: 0.5;
}
.btn:hover,
button.close:hover {
  opacity: 1;
}

#prev_btn {
  left: 10%;
}
#next_btn {
  right: 10%;
}
button.close {
  position: absolute;
  right: 10%;
  top: 30%;
  transform: translateY(-200%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2em;
  color: var(--text-purple);
  z-index: 9;
  opacity: 0.5;
  transition: 0.3s;
}

#bullets {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#bullets > li {
  float: left;
  margin: 0 8px;
}
#bullets > li > a {
  display: block;
  text-decoration: none;
  color: transparent;
  width: 1em;
  height: 1em;
  background-color: rgb(165, 165, 165);
  border-radius: 50%;
  transition: 0.2s;
}
#bullets > li > a.on {
  background-color: var(--text-navy);
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
