/* gallery */
.box_gallery {
  width: 1200px;
  padding: 0 110px;
}
.box_gallery_row::after {
  content: "";
  display: block;
  clear: both;
}
.gallery__thumbnail {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
  border-radius: 1em;
  background-color: white;
  margin-top: 65px;
}
.gallery__thumbnail > a > img {
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 30px 80px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.gallery__thumbnail:not(:first-child, :nth-child(4)) {
  margin-left: 30px;
}
.gallery__thumbnail:hover > a > img {
  opacity: 0.15;
}
.gallery__thumbnail:hover .gallery__thumbnail_content {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.gallery__thumbnail_content {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transition: 0.2s;
  transform: translate(-50%, 50%);
}
.gallery__thumbnail_content > h3 {
  font-family: "NEXON Lv2 Gothic Bold";
  font-size: 1.3em;
  line-height: 2;
  margin-bottom: 0.2em;
}
.gallery__thumbnail_content > ul > li {
  line-height: 1.4;
}

/* 오버레이 */

#overlay {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
#overlay > .container {
  width: 60em;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
#slide {
  position: absolute;
  width: 600%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#slide::after {
  content: "";
  display: block;
  clear: both;
}
#slide > li {
  float: left;
}
.gallery__big_photo {
  width: 60em;
}

.btn {
  padding: 4em;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
  color: var(--text-purple);
  background: transparent;
  transition: 0.3s;
  opacity: 0.5;
}
.btn:hover,
button.close:hover {
  opacity: 1;
}

#prev_btn {
  left: 10%;
}
#next_btn {
  right: 10%;
}
button.close {
  position: absolute;
  right: 10%;
  top: 30%;
  transform: translateY(-200%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2em;
  color: var(--text-purple);
  z-index: 9;
  opacity: 0.5;
  transition: 0.3s;
}

#bullets {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#bullets > li {
  float: left;
  margin: 0 8px;
}
#bullets > li > a {
  display: block;
  text-decoration: none;
  color: transparent;
  width: 1em;
  height: 1em;
  background-color: rgb(165, 165, 165);
  border-radius: 50%;
  transition: 0.2s;
}
#bullets > li > a.on {
  background-color: $text-navy;
}
