/* header */
#header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 7rem;
  @include mobile {
    width: 100vw;
    height: max-content;
  }
}
#header > .container {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include tablet {
    padding: 1rem;
  }
  @include mobile {
    position: static;
    transform: translate(0, 0);
    margin: 0 auto;
  }
}
.home-title {
  width: 47%;
  height: 330px;
  float: left;
  @include tablet {
    width: max-content;
  }
  @include mobile {
    width: fit-content;
    float: none;
    height: auto;
  }
}
.main-title {
  font-family: "SBAggroB";
  font-size: 6.25rem;
  letter-spacing: 0.025em;
  line-height: 1.1;
  @include mobile {
    text-align: center;
  }
}
.title__first {
  background: rgb(151, 89, 187);
  background: linear-gradient(
    -154deg,
    rgba(151, 89, 187, 1) 20%,
    rgba(252, 166, 198, 1) 60%,
    rgba(246, 175, 151, 1) 80%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  &::first-letter {
    font-size: 8.5rem;
  }
}
.title__second {
  background: rgb(246, 175, 151);
  background: linear-gradient(
    -155deg,
    rgba(246, 175, 151, 1) 25%,
    rgba(252, 166, 198, 1) 51%,
    rgba(151, 89, 187, 1) 70%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.sub-title {
  font-family: "SBAggroL";
  line-height: 5em;
  font-size: 1.5rem;
  color: $text-purple;
  margin-left: 1em;
  @include mobile {
    text-align: center;
  }
}
.title_photo {
  float: right;
  @include tablet {
    width: 45%;
  }
  @include mobile {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
  img {
    @include tablet {
      width: 100%;
    }
  }
}

.header__column_left {
  @include tablet {
    width: 47%;
  }
  @include mobile {
    width: max-content;
    margin: 0 auto;
  }
}
