/* nav */
#nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: 0.5s;
  .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    @extend %clear;
    @include tablet {
      width: auto;
      padding: 0 1rem;
    }
  }
}
.nav__defalut {
  height: 7rem;
  padding: 1rem 0;
}
.nav_fixed {
  height: 5rem;
  padding: 0;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 13px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  @include mobile {
    width: 100%;
    height: 7rem;
    padding: 1rem 0;
  }
}
.nav__logo {
  box-sizing: content-box;
  width: 6.25rem;
  height: 5rem;
  float: left;
}
.logo_link {
  display: block;
  width: 100%;
  height: 80%;
  text-align: center;
  margin-top: 0.781rem;
  background: center / contain no-repeat url("../img/logo.png");
  background-size: contain;
}

.nav__menu {
  float: right;
  height: 5rem;
  padding-top: 1.25rem;
  @include mobile {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    float: none;
    top: -1rem;
    right: 0;
    width: 100%;
    height: 0;
    padding-top: 7rem;
    background-color: rgba(255, 255, 255, 0.9);
  }
  & > li {
    float: left;
    width: 20%;
    height: 100%;
    vertical-align: baseline;
    @include mobile {
      float: none;
      width: auto;
      height: auto;
    }
    &:last-child {
      a {
        margin-right: 0;
      }
    }
    & > a {
      &.current-menu {
        color: $text-purple;
      }
      display: block;
      font-family: "NEXON Lv2 Gothic Bold";
      color: $text-gray;
      text-decoration: none;
      text-align: center;
      font-size: 1.25rem;
      margin: 0 1em;
      line-height: 2rem;
      @include mobile {
        font-size: 2rem;
        padding: 5rem;
      }
    }
  }
}
.close_icon {
  display: none;
}
.marker {
  content: "";
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: $text-purple;
  transition: 0.5s;
  @include mobile {
    display: none;
  }
}
/* nav - toggle btn */
.nav__checkbox {
  display: none;
}
.nav__toggle-btn {
  font-family: "Material Icons";
  position: absolute;
  z-index: 5;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  display: none;
  .material-icons-outlined {
    font-size: 36px;
  }
  @include mobile {
    display: block;
  }
}
.nav__checkbox:checked ~ .nav__menu {
  height: 120vh;
  visibility: visible;
  opacity: 1;
}
.nav__checkbox:checked ~ .nav__toggle-btn {
  .close_icon {
    display: block;
  }
  .menu_icon {
    display: none;
  }
}
