/* profile */
.box_profile {
  height: 700px;
  overflow: hidden;
  @include tablet {
    height: auto;
  }
}
.box_profile::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  transition: 0.5s;
}
.box_profile:hover::before {
  left: 100%;
}
.box_profile__row {
  height: 100%;
  float: left;
  padding: 2.6rem 1rem;
  @include mobile {
    height: auto;
    float: none;
    padding: 0 1rem;
  }
  &:first-child {
    width: 40%;
    @include mobile {
      width: 100%;
    }
  }
  &:last-child {
    width: 60%;
    @include mobile {
      width: 100%;
    }
  }
}
.bg-color {
  background: midnightblue;
}
.profile__photo {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 23px auto;
  background-color: $purple;
  box-shadow: rgba(152, 133, 215, 0.5) 0px 7px 29px 0px;
  background: $purple;
  overflow: hidden;
  @include mobile {
    background: transparent;
  }
  & > img {
    width: 100%;
    opacity: 0.5;
    transition: 0.5s;
    @include mobile {
      opacity: 1;
    }
  }
}
.profile__photo:hover img {
  opacity: 1;
}
.profile__headline {
  width: 320px;
  height: 170px;
  margin: 3.875rem auto;
  @include mobile {
    text-align: center;
    width: max-content;
    height: auto;
  }
}
.greeting {
  font-family: "NEXON Lv2 Gothic Bold";
  color: var(--text-purple);
  font-size: 3em;
  line-height: 1.2em;
  opacity: 0;
  @include mobile {
    font-size: 5rem;
  }
}
.profile__introduction {
  margin-top: 23px;
  float: left;
  width: 380px;
  height: 300px;
  padding: 3em 0;
  line-height: 1.4;
  opacity: 0;
  @include tablet {
    margin-top: 4rem;
    height: auto;
  }
  @include mobile {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
    height: auto;
    padding: 0;
    float: none;
  }
}
.profile__introduction > span {
  display: block;
  font-weight: 600;
  font-size: 18px;
  @include mobile {
    font-size: 2rem;
  }
}
.profile__introduction > span::selection {
  background: $purple;
  color: white;
}
.profile__info {
  float: right;
  width: 200px;
  height: 300px;
  margin-top: 23px;
  padding-top: 3em;
  margin-right: 30px;
  @include tablet {
    width: auto;
    height: auto;
    margin-top: 4rem;
  }
  @include mobile {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 5rem 0 0 0;
    text-align: center;
    float: none;
    font-size: 1.5rem;
  }
  & > p {
    display: block;
    line-height: 1.3;
    @include mobile {
      display: inline-block;
    }
    &:not(:first-child) {
      margin-top: 1.2em;
      @include mobile {
        margin-left: 1.2em;
      }
    }
  }
}
.profile__info > p > span {
  display: block;
  font-size: 20px;
  font-weight: 600;
  @include mobile {
    font-size: 16px;
  }
}
.profile__skill {
  width: 470px;
  height: 220px;
  margin-top: 16px;
  float: right;
  @include tablet {
    height: auto;
    margin-top: 5rem;
    float: left;
  }
  @include mobile {
    width: 100%;
    float: none;
  }
  & > h3 {
    position: relative;
    width: max-content;
    font-family: "SBAggroB";
    font-size: 18px;
    line-height: 1.2;
    @include mobile {
      margin: 0 auto;
    }
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      display: block;
      width: 25px;
      height: 2px;
      background-color: $purple;
    }
  }
}
.profile__skill-icon::after {
  display: block;
  content: "";
  clear: both;
  @include mobile {
    display: none;
  }
}
.profile__skill-icon {
  @include mobile {
    padding: 2rem;
    text-align: center;
  }
  & > li {
    float: left;
    margin-right: 48px;
    margin-top: 26px;
    @include mobile {
      float: none;
      display: inline-block;
      margin: 1rem 2rem 0 0;
    }
    img {
      width: 80%;
      &:hover {
        transition: 0.2s;
        transform: translateY(-5%);
      }
    }
    &:first-child > img:hover {
      @include skillicon(rgba(255, 138, 88, 0.7));
    }
    &:nth-child(2) > img:hover {
      @include skillicon(rgba(83, 178, 255, 0.7));
    }
    &:nth-child(3) > img:hover {
      @include skillicon(rgba(247, 223, 30, 0.7));
    }
    &:nth-child(4) > img:hover {
      @include skillicon(rgba(86, 139, 173, 0.5));
    }
    &:nth-child(5) > img:hover {
      @include skillicon(rgba(86, 140, 174, 0.7));
    }
    &:nth-child(6) > img:hover {
      @include skillicon(rgba(182, 8, 8, 0.5));
    }
    &:nth-child(7) > img:hover {
      @include skillicon(rgba(43, 149, 151, 0.5));
    }
    &:nth-child(8) > img:hover {
      @include skillicon(rgba(70, 3, 3, 0.7));
    }
    &:nth-child(9) > img:hover {
      @include skillicon(rgba(255, 188, 233, 0.7));
    }
    &:nth-child(10) > img:hover {
      @include skillicon(rgba(0, 140, 255, 0.7));
    }
  }
}
