/* work */
.box_work {
  transform: translateX(50%);
  height: 350px;
  opacity: 0;
}
.box_work:first-child {
  margin-top: 54px;
}
.box_work:not(:last-child) {
  margin-bottom: 72px;
}
.box_work__row {
  height: 100%;
  float: left;
  padding: 53px 0;
}
.box_work__row:first-child {
  width: 42%;
}

.box_work__row:last-child {
  width: 58%;
  position: relative;
}
.work__thumbnail {
  display: block;
  position: relative;
  border-radius: 10px;
  width: 400px;
  height: 250px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  overflow: hidden;
}

.work__thumbnail:hover .work__img_caption {
  opacity: 1;
}
.work__img_caption {
  position: absolute;
  background-color: rgba(2, 37, 59, 0.95);
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  transition: 0.3s;
  vertical-align: middle;
}
.work__img_caption > .caption {
  display: inline-block;
  font-size: 1.1em;
  height: 1.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work__img_caption > .material-icons {
  font-size: 0.8em;
}
.icon_window {
  background: no-repeat url("../img/new-window.png");
  background-size: 1em;
  width: 1.1em;
  height: 1.1em;
  color: transparent;
}
.work__thumbnail_img {
  width: 100%;
  height: 100%;
}
.work__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work__introduction {
  width: 480px;
  margin: 0 auto;
}
.work__introduction > h3 {
  font-family: "NEXON Lv2 Gothic Bold";
  font-size: 1.875em;
}
.work__introduction > ul {
  margin: 1.2em 0;
  font-weight: bold;
  line-height: 1.5;
}
.work__btn-view {
  width: 100px;
  height: 34px;
  border-radius: 16px;
  border: none;
  margin: 0.9em auto;
  background: rgb(151, 89, 187);
  background-image: linear-gradient(
    to right,
    rgba(246, 175, 151, 1),
    rgba(252, 166, 198, 1),
    rgba(151, 89, 187, 1) 70%
  );
  background-size: 200% 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(252, 166, 198, 0.6) 3px 10px 20px 0px;
  /* 텍스트 */
  font-family: "NEXON Lv2 Gothic Bold";
  color: white;
  font-size: 17px;
  letter-spacing: 0.1em;
  text-shadow: rgba(0, 0, 0, 0.24) 1px 0 10px;
}
.work__btn-view:hover {
  box-shadow: rgba(206, 121, 255, 0.5) 3px 10px 20px 0px;
}
