/* work */
.box_work {
  transform: translateX(50%);
  height: 350px;
  opacity: 0;
  @include tablet {
    height: auto;
    padding: 0 1rem;
  }
}
.box_work:first-child {
  margin-top: 54px;
}
.box_work:not(:last-child) {
  margin-bottom: 72px;
}
.box_work__row {
  height: 100%;
  float: left;
  padding: 53px 0;
  @include tablet {
    float: none;
    display: inline-block;
  }
  @include mobile {
    padding: 20px 0;
  }
}
.box_work__row:first-child {
  width: 42%;
  @include mobile {
    width: 100%;
  }
}

.box_work__row:last-child {
  width: 58%;
  position: relative;
  @include tablet {
    width: 50%;
    margin-left: 2rem;
  }
  @include mobile {
    width: 100%;
    margin-left: 0;
  }
}
.work__thumbnail {
  display: block;
  position: relative;
  border-radius: 10px;
  width: 25rem;
  height: 15.625rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  overflow: hidden;
  @include tablet {
    width: calc(25rem * 0.9);
    height: calc(15.625rem * 0.9);
  }
  @include mobile {
    width: calc(25rem * 1.3);
    height: calc(15.625rem * 1.3);
  }
}

.work__thumbnail:hover .work__img_caption {
  opacity: 1;
}
.work__img_caption {
  position: absolute;
  background-color: rgba(2, 37, 59, 0.95);
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  transition: 0.3s;
  vertical-align: middle;
}
.work__img_caption > .caption {
  display: inline-block;
  font-size: 1.1em;
  height: 1.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work__img_caption > .material-icons {
  font-size: 0.8em;
}
.icon_window {
  background: no-repeat url("../img/new-window.png");
  background-size: 1em;
  width: 1.1em;
  height: 1.1em;
  color: transparent;
}
.work__thumbnail_img {
  width: 100%;
  height: 100%;
}
.work__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include tablet {
    position: static;
    transform: translate(0, 0);
  }
  @include mobile {
    text-align: center;
  }
}
.work__introduction {
  width: 480px;
  margin: 0 auto;
  @include mobile {
    width: 100%;
  }
  & > h3 {
    font-family: "NEXON Lv2 Gothic Bold";
    font-size: 1.875em;
  }
  & > ul {
    margin: 1.2em 0;
    font-weight: bold;
    line-height: 1.5;
    @include mobile {
      font-size: 1.4rem;
    }
  }
}
