/* header-animation */
.slide-right {
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 500ms;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-8%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.2s;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.slide-up-down {
  animation: slide-up-down 2.5s ease-in-out infinite;
  animation-delay: 1.2s;
}
@keyframes slide-up-down {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
  }
}

/* profile ani */
.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s ease-in-out both;
  animation: focus-in-expand 0.8s ease-in-out both;
  animation-delay: 0.5s;
}
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.3em;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s ease-in-out both;
  animation: tracking-in-contract 0.8s ease-in-out both;
  animation-delay: 1s;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s ease-in-out both;
  animation: slide-in-left 0.5s ease-in-out both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translate(-150%, -50%);
    transform: translate(-150%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translate(-150%, -50%);
    transform: translate(-150%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1;
  }
}
.rotate-in-2-br-cw {
  -webkit-animation: rotate-in-2-br-cw 0.5s ease-in-out both;
  animation: rotate-in-2-br-cw 0.5s ease-in-out both;
}
@-webkit-keyframes rotate-in-2-br-cw {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes rotate-in-2-br-cw {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
