html {
  scroll-behavior: smooth;
  @include tablet {
    font-size: 80%;
  }
  @include mobile {
    font-size: 70%;
  }
  @include mobile-sm {
    font-size: 50%;
  }
}
body {
  font-family: "NEXON Lv2 Gothic", sans-serif;
  color: $text-navy;
  list-style: none;
  background: rgb(219, 233, 246);
  background: linear-gradient(
    180deg,
    rgba(219, 233, 246, 1) 15%,
    rgba(254, 252, 201, 1) 44%,
    rgba(247, 208, 213, 1) 100%
  );
}
.scroll_hidden {
  overflow-y: hidden;
}
/* wrap */
.wrap-1200 {
  max-width: 1200px;
  margin: 0 auto;
  @include tablet {
    overflow: hidden;
  }
}
